<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="allFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/home/admin/terminator_builder/logs/userlogs/index-all.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%c] - %m%n" />
		</layout>
	</appender>
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%c] - %m%n" />
		</layout>
	</appender>
	

	<!-- <appender name="asyncAppender" class="org.apache.log4j.AsyncAppender">
      <param name="threshold" value="DEBUG" />
      <param name="BufferSize" value="500" />
      <param name="blocking" value="false" />
      <appender-ref ref="terminatorHookAppender" />
   </appender>
   
   <appender name="terminatorHookAppender"
      class="com.taobao.terminator.cluster.logger.TerminatorHookAppender">
      <param name="component" value="build" />
      <param name="zkaddress" value="10.232.15.46:2181,10.125.60.136:2181,10.189.193.35:2181" />
   </appender>
	
	 -->
	<root>
		<level value="INFO" />
		<appender-ref ref="allFile" />
		<appender-ref ref="stdout" />
		<!-- <appender-ref ref="asyncAppender" /> -->
	</root>
</log4j:configuration>
