<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<encoding>${loggingCharset}</encoding>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern><![CDATA[%d{yyyy-MM-dd HH:mm:ss} %level %X{app} %logger{35}- %msg%n]]></pattern>
		</layout>
	</appender>


	<appender name="buildinfo"
		class="com.dfire.tis.build.log.AppnameAwareFlumeLogstashV1Appender">
		<flumeProperties>
			connect-timeout=4000;
			request-timeout=8000
		</flumeProperties>
		<batchSize>100</batchSize>
		<reportingWindow>1000</reportingWindow>
		<additionalAvroHeaders>
			logtype=buildinfo
		</additionalAvroHeaders>
		<application>build</application>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern><![CDATA[%d{HH:mm:ss.SSS} %-5level	%logger{36}-%message%n%ex]]></pattern>
		</layout>
	</appender>

<!-- 
	<appender name="buildinfo-async" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>512</queueSize>
		<includeCallerData>false</includeCallerData>
		<neverBlock>true</neverBlock>
		<appender-ref ref="buildinfo" />
	</appender>
 -->
	<logger name="buildinfoLogger">
		<level value="INFO" />
		<appender-ref ref="buildinfo" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
