<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>WEB-INF/log4j.xml</param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:application.context.xml</param-value>
    </context-param>


    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>



    <servlet>
        <servlet-name>checkPreloadServlet</servlet-name>
        <servlet-class>com.taobao.terminator.trigger.httpserver.CheckPreloadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>checkPreloadServlet</servlet-name>
        <url-pattern>/checkPreload.htm</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>logServlet</servlet-name>
        <servlet-class>com.taobao.terminator.trigger.httpserver.TerminatorLogServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>logServlet</servlet-name>
        <url-pattern>/execute_log</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>consoleServlet</servlet-name>
        <servlet-class>com.taobao.terminator.trigger.httpserver.TriggerConsoleServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>consoleServlet</servlet-name>
        <url-pattern>/console</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>fullDumpServlet</servlet-name>
        <servlet-class>com.taobao.terminator.trigger.httpserver.TriggerFullDumpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>fullDumpServlet</servlet-name>
        <url-pattern>/trigger_full_dump</url-pattern>
    </servlet-mapping>

</web-app>
